<div nz-row [nzGutter]="[8, 24]">
  <div nz-col [nzSpan]="24">
    <nz-card nzTitle="Check-ins" [nzExtra]="extraTemplate">

      <div nz-row>
        <div nz-col [nzSpan]="12">
          <h4>Weekly Check-in Percentages</h4>
          <nz-row [nzGutter]="16">
            <nz-col [nzSpan]="24">
              <nz-statistic [nzValue]="1949101" [nzTitle]="'Successful Check-ins'"></nz-statistic>
            </nz-col>
            <nz-col [nzSpan]="24">
              <nz-statistic
                [nzValue]="11.28"
                [nzTitle]="'Active'"
                [nzPrefix]="prefixTplOne"
                [nzSuffix]="'%'"
                [nzValueStyle]="{ color: '#3F8600' }"></nz-statistic>
              <ng-template #prefixTplOne><i nz-icon nzType="arrow-up"></i></ng-template>
            </nz-col>
          </nz-row>
        </div>
        <div nz-col [nzSpan]="12">
          <h4>Daily Check-in Percentages</h4>
        </div>
      </div>

    </nz-card>
  </div>
  <div nz-col [nzSpan]="24">
    <nz-card nzTitle="Payments">
      <p>Card content</p>
    </nz-card>
  </div>
</div>


<!--<div nz-row [nzGutter]="8">-->
<!--  <div nz-col [nzSpan]="8">-->
<!--    <nz-card nzTitle="Card title">-->
<!--      <p>Card content</p>-->
<!--    </nz-card>-->
<!--  </div>-->
<!--  <div nz-col [nzSpan]="8">-->
<!--    <nz-card nzTitle="Card title">-->
<!--      <p>Card content</p>-->
<!--    </nz-card>-->
<!--  </div>-->
<!--  <div nz-col [nzSpan]="8">-->
<!--    <nz-card nzTitle="Card title">-->
<!--      <p>Card content</p>-->
<!--    </nz-card>-->
<!--  </div>-->
<!--</div>-->

<!--<nz-card style="width:300px;" nzTitle="Card title" [nzExtra]="extraTemplate">-->
<!--  <p>Card content</p>-->
<!--  <p>Card content</p>-->
<!--  <p>Card content</p>-->
<!--</nz-card>-->
<ng-template #extraTemplate>
  <a>More</a>
</ng-template>
