<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null" nzTheme="light">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1 nz-typography nzType="success">Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Monitor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <nz-page-header
        class="site-page-header"
        nzBackIcon
        nzTitle="Title"
        nzSubtitle="This is a subtitle">
        <nz-page-header-extra>
          <div>
            Show: <a nz-dropdown [nzDropdownMenu]="menu">
            Hover me
            <i nz-icon nzType="down"></i>
          </a>
          </div>

          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item>1st menu item</li>
              <li nz-menu-item>2nd menu item</li>
              <li nz-menu-item>3rd menu item</li>
              <li nz-menu-item nzDanger>4th danger item</li>
            </ul>
          </nz-dropdown-menu>
        </nz-page-header-extra>
      </nz-page-header>

<!--      <nz-space>-->
<!--        <p>one</p>-->
<!--        <p>two</p>-->
<!--        <p>three</p>-->
<!--      </nz-space>-->

      <router-outlet></router-outlet>
<!--      <div class="inner-content">-->
<!--        <router-outlet></router-outlet>-->
<!--      </div>-->
    </nz-content>
  </nz-layout>
</nz-layout>
